/*
color themes -
#2b6777 - Dark Green
#c8d8e4 - Light Blue
#ffffff - White
#f2f2f2 - Light Grey
#52ab98 - Light Green
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
    font-family: 'Poppins', sans-serif;    
}
body{
    background: #c8d8e4;
}

header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 15vh;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;
}

.nav-logo {
    width: 100px;
}

header ul{
    display:flex;
    justify-content:center;
    align-items:center;
}

header ul li {
    list-style:none;
    margin-left: 20px;
}

header ul li a{
    text-decoration:none;
    padding: 6px 15px;
    color: black;
    border-radius:20px;
}

header ul li a:hover{
    background: black;
    color: white;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	/* background: #f2f2f2; */
	background: #f2f2f2;
	border-radius:6px;
}
::-webkit-scrollbar-thumb:hover {
	background: #52ab98;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.left-hero {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-hero-img {
    animation: slidein 2s;
    width: 200px;
}

@keyframes slidein {
    0% { width: 0px; }
    100% { width: 200px; }
}

.right-hero {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-hero-title {
    font-size: 2rem;
}

.offered-courses-text {
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 12rem;
}

.sample-courses {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
    background-size: cover;
}

.flip-card-back {
    background-color: transparent;
    color: #2b6777;
    transform: rotateY(180deg);
}

.flip-card-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.color-design {
    content: '';
    background: aliceblue;
    width: 80vh;
    height: 30vh;
    border-left: 50% solid transparent;
    border-right: 50% solid transparent;
    border-top: 100% solid aliceblue;
    opacity: 0.2;
    transform: translate(90vh, -65vh);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.course-title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10vh;
    position: relative;
}

.course-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.courses-card {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10vh;
    position: relative;
}

.courses-card > * {
    margin-left: 12vh;   
}

.course-main {
    position: relative;
}
/* footer css  */
.foot-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
 .ul{
	list-style: none;
}
.footer{
	background-color:lightslategray;
    padding: 70px 0;
    margin-top: 20px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color:lightgrey;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
map{
    position: absolute;
    left: 60%;
}
/* login page css */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.selector{
    width: 350px;

}
#selectField{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#selectField img{
    width: 12px;
    transition: transform 0.5s;
}
#list{
    width: 100%;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;
    overflow: hidden;
}
.options{
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;

}
.options img{
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}
.options:hover{
    background:rgba(255,255,255,0.7) ;
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);

}
.submit-btn{
    width: 150px;
	background-color: rgba(255,255,255,0.7);
	border: none;
	outline: none;
	height: 49px;
	border-radius: 0.3rem;
	/* display: block; */
	color: #fff;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
    color: black;
    position: relative;
    top: 22%;
    right: 13%;
}
.submit-btn.transparent:hover {
	background-color: white;
	color: #2b6777;
}

.submit-btn:hover {
	background-color: #52ab98;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}
